@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
}

.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #A9DBB8;
}

.centralizar{
    display: flex;
    align-items: center;
}

.link{
    padding: 12px;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    font-size: 20px;
    height: 30px;
}
.link:hover{
    background-color: #005bff;
}

.titulo{
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    color: #2F4858;
}

.principal{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #eeeeee;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.6);
}

.tema{
    border-bottom: 2px solid black;
    padding: 20px;
}

.sub-titulo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 30px;
    color: #2F4858;
}

.tabela{
    width: 80%;
    margin: 0 auto;
}

.campo{
    background-color: #2F4858;
    color: #A9DBB8;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.bg-red{
    background-color: rgba(255, 0, 0, 0.6);
    font-weight: bold;
    font-size: 16px;
    color: white;
    text-align: center;
}
.bg-green{
    background-color: rgba(0, 128, 0, 0.6);
    font-weight: bold;
    font-size: 16px;
    color: white;
    text-align: center;
}

th, td{
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

table, th, td{
    border: 1px solid black;
}